<div>
  <%= flash[:notice] %>
</div>


<div>
  <% @top_tags.each do |tag| %>
    <%= link_to tag.name, cafes_path(tag: tag.name) %>
  <% end %>
</div>

<div>
  <%= link_to 'Charge your devices', cafes_path(category: 'has_power_outlet') %>
  <%= link_to 'Chat/Meeting', cafes_path(category: 'chat_meeting_ok') %>
  <%= link_to 'Focus', cafes_path(category: 'quiet_environment') %>
  <%= link_to 'Free Access to Wi-Fi', cafes_path(category: 'has_wifi') %>
</div>