<h2><%= @cafe.name %></h2>

<%= form_with(model: @review, url: cafe_reviews_path(@cafe)) do |form| %>
  <div>
    <%= form.hidden_field :rating, id: :review_rating %>
  </div>
  <script>
　　　　$('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
 　 　　　scoreName: ‘review[rating]’,　
    half: false,
  });
  </script>
  
  <div>
    <%= form.label :image, "Image" %>
    <%= form.file_field :image, accept: "image/*" %>
  </div>
  <div>
    <%= form.label :body, "Comment" %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit 'Post Review' %>
  </div>
<% end %>