<h2><%= @cafe.name %></h2>

<%= form_with(model: review, url: new_cafe_review_path(@cafe) do |form| %>
  <div>
    <%= form.select :rating, options_for_select(1..5) %>
  </div>
  <div>
    <%= form.label :image, "Image" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div>
    <%= form.label :body, "Comment" %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit 'Post Review' %>
  </div>
<% end %>