<div class="container">  
  <% if @review.errors.any? %>
    <ul class="pb-3">
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="pt-5">
    <h2><%= @cafe.name %></h2>
  
    <%= form_with(model: @review, url: cafe_reviews_path(@cafe)) do |form| %>
      <div id="review_rating" class="pt-3 pb-3">
        <%= form.hidden_field :rating %>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <%= form.label :image, "Image" %>
          </div>
          <div class="col-md-10">
            <%= form.file_field :image, accept: "image/*" %>
          </div>
        </div>
      </div>  
  
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <%= form.label :body, "Comment" %>
          </div>
          <div class="col-md-10">
            <%= form.text_area :body, class: "form-control" %>
          </div>
        </div>
      </div>  
      
      <div class="pt-5 pb-5 text-center">
        <%= form.submit 'Post review', class: "btn btn-light border border-dark" %>
      </div>
    <% end %>
    
    <script>
      var elem = document.getElementById('review_rating');
      var opt = {  
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          half: false,
          scoreName: 'review[rating]'
        };
      if (elem) elem.innerHTML = ""
      raty(elem, opt);
    </script>
  </div>
</div>