<h4>Add a new post</h4>
<%= form_with model: @cafe, url: cafes_path do |f| %>
  <p>Picture</p>
  <%= f.file_field :image, accept: "image/*" %>

  <p>Cafe Name</p>
  <%= f.text_field :name %>

  <p>Address</p>
  <%= f.text_field :address, placeholder:"東京都新宿区新宿３丁目１ー１ー１" %>
  
  <p>Categories</p>
  <p>Charge your phone/PC</p>
  <%= f.radio_button :category, "available" %>
  <%= f.label :category_available, "available" %>
  <%= f.radio_button :category, "N/A" %>
  <%= f.label :category_na, "N/A" %>
  
  <p>Environment</p>
  <%= f.collection_check_boxes :name, [["Meeting OK", "Meeting OK"], ["Chat OK", "Chat OK"], ["Quiet Environment", "Quiet Environment"]], :first, :last %>
  
  <p>Wifi</p>
  <%= f.radio_button :wifi, "available" %>
  <%= f.label :wifi_available, "available" %>
  <%= f.radio_button :wifi, "N/A" %>
  <%= f.label :wifi_na, "N/A" %>
  
  <p>Comment</p>
  <%= f.text_area :body %>
  
  <%= f.submit 'Share' %>
<% end %>
