<%= form_with model: @cafe, url: cafes_path do |f| %>
  <p>Cafe Name</p>
  <%= f.text_field :name %>

  <p>Categories</p>
  <p>Charge your phone/PC (Select one)</p>
  <%= f.fields_for :cafe_tags do |cafe_tag_form| %>
    <%= cafe_tag_form.collection_select :tag_id, Tag.has_power_outlets.keys, :to_s, :titleize, { prompt: true } %>
  <% end %>
  
  <p>Environment (Select one)</p>
  <%= f.fields_for :cafe_tags do |cafe_tag_form| %>
    <%= cafe_tag_form.collection_select :tag_id, Tag.is_conversation_alloweds.keys, :to_s, :titleize, { prompt: true } %>
  <% end %>
  
  <p>Wifi (Select one)</p>
  <%= f.fields_for :cafe_tags do |cafe_tag_form| %>
    <%= cafe_tag_form.collection_select :tag_id, Tag.has_wifis.keys, :to_s, :titleize, { prompt: true } %>
  <% end %>

  <p>Address</p>
  <%= f.text_field :address, placeholder:"東京都新宿区新宿３丁目１ー１ー１" %>
  
  <p>City</p>
  <div class="field">
    <%= f.select :city, ['Tokyo', 'Osaka', 'Shanghai', 'Bangkok', 'Melbourne', 'New York', 'Los Angeles', 'Paris', 'Rome','London'], prompt: 'Select a City' %>
  </div>
  
  <%= f.submit 'Add cafe' %>
<% end %>