<h4>Add a new post</h4>
<%= form_with model: @cafe, url: cafes_path do |f| %>
  <p>Picture</p>
  <%= f.file_field :image, accept: "image/*" %>

  <p>Cafe Name</p>
  <%= f.text_field :name %>

  <p>Address</p>
  <%= f.text_field :address, placeholder:"東京都新宿区新宿３丁目１ー１ー１" %>
  
  <p>Categories</p>
  
  <p>Comment</p>
  <%= f.text_area :body %>
  
  <%= f.submit 'Share' %>
<% end %>
