<div class="container text-center">
  
  <h2 class="pt-5">Forgot your password?</h2>
  
  <div class="pt-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field pt-3">
        <span class="pr-3"><%= f.label :email %></span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="actions pt-3">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    <% end %>
    
    <div class="pt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>