<%= form_with model: @user do |f| %>
  <div class="form-group">
    <p>Cafe Name</p>
    <p>Can't find the cafe you're looking for? Create a new one 
    <%= link_to"here.", new_cafe_path %></p>
  </div>
  <div class="form-group">
    <p>Image</p>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  <div class="form-group">
    <p>Comment</p>
    <%= f.text_area :body, placeholder:"Opening hours, how to access, share your thoughts", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit 'Share' %>
  </div>
<% end %>
