<div class="container">
  <div class="justify-center align-items-center mx-auto pt-5">
    <div class="text-center">
      <%= form_with url: admin_cafes_path, method: :get, local: true do |form| %>
        <%= form.text_field :query, value: params[:query], placeholder:"cafe name, location", style: "width: 300px;" %>
        <%= form.submit 'Search' %>
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <% Tag.top_tags.each do |tag| %>
      <%= link_to tag.name, admin_cafes_path(tag: tag.name), class: "tag-link"%>
    <% end %>
  </div>

  <div class="container pt-3">
    <div class="row">
      <% @cafes.each_with_index do |cafe, index| %>
      <div class="col-md-4 mb-4">
        <div class="card mx-auto mt-4 shadow-lg">
          <div class="image">
            <% last_review = cafe.reviews.order(created_at: :desc).first %>
            <% if last_review.present? && last_review.image.attached? %>
              <%= image_tag last_review.image.variant(resize_to_limit: [500, 500]).processed, class: "img-fluid" %>
            <% else %>
              <%= image_tag 'no_image.png', size: "400x400", class: "img-fluid" %>
            <% end %>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title"><%= link_to cafe.name, admin_cafe_path(cafe.id), class:"text-dark" %></h5>
          </div>
        </div>
      </div>
          
        <% if (index + 1) % 3 == 0 %>
          </div><div class="row">
        <% end %> 
      <% end %>
    </div>
  </div>
  
  <div class="d-flex justify-content-center mt-4 mb-4">
    <%= paginate @cafes %>
  </div>   
    
  </div>
</div>