<%= form_with url: cafes_path, method: :get, local: true do |form| %>
  <%= form.text_field :query, value: params[:query], plcaeholder:"cafe name, location" %>
  <%= form.submit 'Search' %>
<% end %>

<% @cafes.each do |cafe| %>
  <p><%= link_to cafe.name, cafe_path(cafe.id) %></p>
  <div>
    <% last_review = cafe.reviews.order(created_at: :desc).first %>
    <% if last_review.present? && last_review.image.attached? %>
      <%= image_tag last_review.image.variant(resize_to_limit: [500, 500]).processed %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: "500x500" %>
    <% end %>
  </div>
<% end %>