<div class="container">
  <div class="text-center pt-4">
    <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle img-thumbnail profile-image" %>
    <h4 class="pt-3 pb-3"><%= @user.name %></h4>
    <%= link_to "Edit Profile", edit_admin_user_path(@user), class: "btn btn-light border border-dark" %>
  </div>
  
  <div class="pt-4">
    <hr class="w-200 border-top">
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <h6 class="text-center">Reviews</h6>
      <% @user.reviews.each do |review| %>
        <div class="card mt-4 mb-4 shadow-lg narrow-card">
          <div class="pt-3 text-center">
            <h3><%= link_to review.cafe.name, admin_cafe_path(review.cafe_id), class:"text-dark" %></h3>
          </div>
          <div class="card-body row">
            <div class="col-md-6">
              <div id="review_rating_<%= review.id %>">
                <script>
                  var elem = document.getElementById('review_rating_<%= review.id %>');
                  var opt = {  
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      half: false,
                      readOnly: true,
                      score: <%= review.rating %>,
                    };
                  if (elem) elem.innerHTML = ""
                  raty(elem, opt);
                </script>
              </div>
              <div class="pt-2">
                <%= simple_format(review.body) %>
              </div>
            </div>
            <div class="col-md-6 pt-2">
              <%= image_tag review.image, size: "400x300", class: "img-fluid" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <h6 class="text-center">Bookmarks</h6>
      <div class="text-center">
        <% @user.bookmarks.each do |bookmark| %>
          <% cafe = bookmark.cafe %>
          <div class="card mx-auto mt-4 shadow-lg narrow-card">
            <div class="image">
              <% last_review = cafe.reviews.order(created_at: :desc).first %>
              <% if last_review.present? && last_review.image.attached? %>
                <%= image_tag last_review.image.variant(resize_to_limit: [500, 500]).processed, class: "img-fluid" %>
              <% else %>
                <%= image_tag 'no_image.png', size: "400x400", class: "img-fluid" %>
              <% end %>
            </div>
            <div class="card-body text-center">
              <h5><%= link_to cafe.name, admin_cafe_path(cafe.id), class:"text-dark" %></h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>