<div class="cafe-background" style="background-image: url('<%= @cafe.reviews.order(created_at: :desc).first&.image&.attached? ? url_for(@cafe.reviews.order(created_at: :desc).first.image.variant(resize_to_limit: [1200, 800]).processed) : asset_path('white.png') %>');">
  <div class="overlay">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="pt-5 pb-3"><%= @cafe.name %></h1>
        <div class="pt-4">
          <% if user_signed_in? %>
            <% if current_user.email != "guest@example.com" %>
              <% if @cafe.bookmarks.exists?(user_id: current_user.id) %>
                <p><%= link_to "Remove bookmark", cafe_bookmark_path(@cafe), method: :delete, class: "btn btn-light border border-dark" %></p>
              <% else %>
                <p><%= link_to "Bookmark", cafe_bookmark_path(@cafe), method: :post, class: "btn btn-light border border-dark" %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div>
        <% if @cafe.has_power_outlet? %>
          <p><i class="fa-solid fa-plug pr-4"></i>Available</p>
        <% else %>
          <p><i class="fa-solid fa-plug pr-4"></i>N/A</p>
        <% end %>
      </div>
      <div>
        <% if @cafe.chat_meeting_ok? %>
          <p><i class="fa-solid fa-volume-high icon pr-3"></i>Chat/Meeting OK</p>
        <% else %>
          <p><i class="fa-solid fa-volume-high icon pr-3"></i>Quiet Environment</p>
        <% end %>
      </div>
      <div>
        <% if @cafe.has_wifi? %>
          <p><i class="fa-solid fa-wifi icon pr-3"></i>Available</p>
        <% else %>
          <p><i class="fa-solid fa-wifi icon pr-3"></i>N/A</p>
        <% end %>
      </div>

      <div id="average_rating" class="pt-3">
        <script>
          var elem = document.getElementById('average_rating');
          var opt = {  
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            half: false,
            readOnly: true,
            score: <%= @average_rating %>,
          };
          if (elem) elem.innerHTML = ""
          raty(elem, opt);
        </script>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h6 class="pt-3 pb-3 flex-grow-1 text-center">Detail Information</h6>
    <div class="pt-3">
      <% if user_signed_in? %>
        <p><%= link_to "Edit info", edit_cafe_path(@cafe), class: "btn btn-light border border-dark" %></p>
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="pt-3">
        <strong>Address</strong>
        <p class="pt-2"><%= @cafe.address %></p>
      </div>
      <div class="pt-3">
        <strong>About Cafe</strong>
        <p class="pt-2">
          <%= simple_format(@cafe.introduction) %>
        </p>
      </div>
      <div class="pt-3">
        <strong>Tags</strong>
        <p class="pt-2">
          <% @cafe.tags.each do |tag| %>
            <%= link_to tag.name, cafes_path(tag: tag.name), class: "tag-link" %>
          <% end %>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pt-3">
        <strong>Opening Hours</strong>
        <p class="pt-2"><%= simple_format(@cafe.opening_hours) %></p>
      </div>
    </div>
  </div>

  <div class="pt-4">
    <hr class="w-200 border-top">
    <div class="d-flex justify-content-between align-items-center">
      <h6 class="pt-3 pb-3 flex-grow-1 text-center">Reviews</h6>
      <div class="pt-3">
        <% if user_signed_in? %>
          <p><%= link_to "Write a review", new_cafe_review_path(@cafe), class: "btn btn-light border border-dark" %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <% @cafe.reviews.each do |review| %>
      <div class="d-flex justify-content-between align-items-center">
        <div class="pt-3 pb-3 user">
          <%= link_to user_path(review.user_id) do %>
            <%= image_tag review.user.get_profile_image(35,35), class: "rounded-circle img-thumbnail" %>
            <span class="pl-2 text-dark"><%= review.user.name %></span>
          <% end %>
        </div>
        <div class="pt-3">
          <% if user_signed_in? %>
            <% if review.user == current_user %>
              <p><%= link_to "Edit", edit_cafe_review_path(@cafe, review), class: "btn btn-light border border-dark" %></p>
            <% end %>
          <% end %>
        </div>
      </div>
        
      <div id="review_rating_<%= review.id %>">
        <script>
          var elem = document.getElementById('review_rating_<%= review.id %>');
          var opt = {  
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              half: false,
              readOnly: true,
              score: <%= review.rating %>,
            };
          if (elem) elem.innerHTML = ""
          raty(elem, opt);
        </script>
      </div>
      
      <div class="pt-2">
        <%= review.body %>
      </div>
      
      <div class="pt-2">
        <%= image_tag review.image, size: "100x100" %>
      </div>
      
      
      <div>
        <% review.comments.each do |comment| %>
          <div class="d-flex justify-content-between align-items-center">
            <div class="pt-3 pb-3 user">
              <%= link_to user_path(comment.user_id) do %>
                <%= image_tag comment.user.get_profile_image(25,25), class: "rounded-circle img-thumbnail" %>
              <% end %>
              <%= comment.comment %>
            </div>
            <div class="pt-3">
              <% if user_signed_in? %>
                <% if comment.user == current_user %>
                  <p><%= button_to 'Delete', cafe_review_comment_path(@cafe, review, comment), method: :delete, data: { confirm: "Are you sure you want to delete your comment?" }, class: "btn btn-light border border-dark" %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= form_with model: @comment, url: cafe_review_comments_path(review.cafe_id, review) do |f| %>
            <% if current_user.email != "guest@example.com" %>
              <%= image_tag current_user.get_profile_image(25,25), class: "rounded-circle img-thumbnail" %>
              <%= f.text_field :comment, placeholder:"Write a Comment" %>
              <%= f.submit 'Post' %>
            <% end %>
          <% end %>  
        <% end %>
      </div>
    <% end %>
  </div>
</div>